extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	//- section.home_news
	//- 	.container
	//- 		h3.tit  Fullstack chuyên nghiệp
	//- 		.row
	//- 			.col-md-4.item
	//- 				a(href="http://#" title="Trung tâm đào tạo IT chuyên nghiệp")
	//- 					figure
	//- 						.blockimg
	//- 							.conmat
	//- 								i.fa.fa-search
	//- 							img(src="./img/home_servic1.png", alt="")
	//- 						figcaption
	//- 							h3 Trung tâm đào tạo IT chuyên nghiệp
	//- 							time 22/06/2018
	//- 							p.sub Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur maiores quos itaque natus dolores at, suscipit porro necessitatibus ratione consequatur alias eum dolore labore sequi ullam, doloremque rem corrupti?
	//- 			.col-md-4.item
	//- 				a(href="http://#" title="Trung tâm đào tạo IT chuyên nghiệp")
	//- 					figure
	//- 						.blockimg
	//- 							.conmat
	//- 								i.fa.fa-search
	//- 							img(src="./img/home_sevice2.png", alt="")
	//- 						figcaption
	//- 							h3 Trung tâm đào tạo IT chuyên nghiệp
	//- 							time 22/06/2018
	//- 							p.sub Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur maiores quos itaque natus dolores at, suscipit porro necessitatibus ratione consequatur alias eum dolore labore sequi ullam, doloremque rem corrupti?
	//- 			.col-md-4.item
	//- 				a(href="http://#" title="Trung tâm đào tạo IT chuyên nghiệp")
	//- 					figure
	//- 						.blockimg
	//- 							.conmat
	//- 								i.fa.fa-search
	//- 							img(src="./img/home_service3.png", alt="")
	//- 						figcaption
	//- 							h3 Trung tâm đào tạo IT chuyên nghiệp
	//- 							time 22/06/2018
	//- 							p.sub Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur maiores quos itaque natus dolores at, suscipit porro necessitatibus ratione consequatur alias eum dolore labore sequi ullam, doloremque rem corrupti?
	//- section.slider
	//- 		.container
	//- 			.row.mt-3.mb-2
	//- 				.col
	//- 					.owl-carousel.owl-theme
	//- 						img(src="./img/home_item0.png", alt="")
	//- 						img(src="./img/home_item1.png", alt="")
	//- 						img(src="./img/home_item2.png", alt="")
	//- 						img(src="./img/home_item3.png", alt="")
	//- 						img(src="./img/home_item4.png", alt="")
	//- 						img(src="./img/home_item5.png", alt="")
	section.home-nay
		.item
			.title
				i.fa.fa-home
				|
				| Title Here
			.body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum hic unde minima aliquid esse eos, quidem quasi nihil? Ratione quas facere cupiditate alias! Odio, cumque minima! Praesentium mollitia sed sint.
		.item
			.title
				i.fa.fa-apple
				|
				| Title Here
			.body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum hic unde minima aliquid esse eos, quidem quasi nihil? Ratione quas facere cupiditate alias! Odio, cumque minima! Praesentium mollitia sed sint.
